# Introduction to Data Structure in Python

## Variables and Assignment

In [1]:
x = 10

![](img/var1.jpg)

In [2]:
x = 'hello'

![](img/var3.jpg)

In [3]:
x = 2.7

![](img/var2.jpg)

In [4]:
y = 1.0

In [5]:
z = x + y
print(z)

3.7

## Lists

I want a list of numbers

In [6]:
items = [2.7, 3.1, 69.1]

![](img/list.jpg)

I want to print the second number in the list

In [7]:
print(items[1])

3.1

I want to print the length of the list

In [9]:
print(len(items))

3

I want to print all the numbers in the list

In [10]:
for item in items:
    print(item)

2.7
3.1
69.1

# Introduction to Pandas

## Data Frame
What is a data frame?

2-d matrix

![](img/table.jpg)

In [15]:
import pandas as pd

In [37]:
df = pd.read_csv("data/sample.csv")

In [38]:
df

      area  sales  profit
0    North      5       2
1     East     25       8
2     West     15       6
3    South     20       5
4  Central     10       3

In [39]:
df.dtypes

area      object
sales      int64
profit     int64
dtype: object

How many rows & columns does the dataframe have?

In [40]:
?df.shape

I want to see the top 5 rows of the dataframe

In [41]:
df.shape

(5, 3)

In [42]:
df.head

<bound method NDFrame.head of       area  sales  profit
0    North      5       2
1     East     25       8
2     West     15       6
3    South     20       5
4  Central     10       3>

In [43]:
df1 = df.head(1)

In [44]:
df1

    area  sales  profit
0  North      5       2

I want to see the bottom 2 rows only

In [45]:
df.tail(2)

      area  sales  profit
3    South     20       5
4  Central     10       3

In [46]:
df.index

RangeIndex(start=0, stop=5, step=1)

What are the column names?

In [47]:
df.columns

Index(['area', 'sales', 'profit'], dtype='object')

Show me the values of the dataframe. (exclude the column and index information)

In [48]:
df.values

array([['North', 5, 2],
       ['East', 25, 8],
       ['West', 15, 6],
       ['South', 20, 5],
       ['Central', 10, 3]], dtype=object)

Can I quickly get a sense of how the data is in the dataframe?
Information like min, max, mean etc

In [49]:
df.sales.describe()

count     5.000000
mean     15.000000
std       7.905694
min       5.000000
25%      10.000000
50%      15.000000
75%      20.000000
max      25.000000
Name: sales, dtype: float64

I want to sort the dataframe based on sales in descending order

In [51]:
df.sort_values(by=['sales', "profit"], ascending=False)

      area  sales  profit
1     East     25       8
3    South     20       5
2     West     15       6
4  Central     10       3
0    North      5       2

I want to do the same, but based on profit column

In [52]:
df.sort_values(by='profit', ascending=False)

      area  sales  profit
1     East     25       8
2     West     15       6
3    South     20       5
4  Central     10       3
0    North      5       2

I want to find the area with least profit & sales

In [53]:
df.sort_values(by=['sales','profit'], ascending=True)

      area  sales  profit
0    North      5       2
4  Central     10       3
2     West     15       6
3    South     20       5
1     East     25       8

I want to view the sales alone

In [54]:
df.sales

0     5
1    25
2    15
3    20
4    10
Name: sales, dtype: int64

I want to view just sales & profit columns, not the area names

In [55]:
df.loc[2:4, ['sales2014', 'profit']]

   sales2014  profit
2        NaN       6
3        NaN       5
4        NaN       3

I want the third row of the dataframe

In [56]:
df.loc[2, :]

area      West
sales       15
profit       6
Name: 2, dtype: object

I want the third row, sales & profit columns

In [57]:
df.loc[2, ['sales', 'profit']]

sales     15
profit     6
Name: 2, dtype: object

I want rows between index 2 and 3, and column 2 only

In [58]:
df.iloc[2:3, 2]

2    6
Name: profit, dtype: int64